@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

input,
textarea {
  border: solid 1px #ddd;
  outline: none;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0 0.4em;
}

.container {
  display: flex;
  height: 100vh;
}

header {
  width: 320px;
  padding: 2em 1.4em 1em;
  background-color: #fbfbfa;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1rem;
}

#addForm {
  padding: 0 1em;
}

.addInput {
  height: 40px;
  display: block;
}

.addContent {
  height: 200px;
  display: block;
}

.addBtn {
  width: 40px;
  background-color: #333;
  border: 0;
  cursor: pointer;
  font-size: 1.4em;
  color: #fff;
}

.category {
  margin-top: 1.4em;
}

.listItem {
  position: relative;
  box-sizing: border-box;
}

.listItem > .subList {
  display: block;
}

.listItem.closed > .subList {
  display: none;
}

.listIn {
  display: flex;
  min-height: 46px;
  justify-content: space-between;
  align-items: center;
  gap: 0.6em;
}

.title {
  width: calc(100% - 50px);
  word-break: keep-all;
  cursor: default;
}

i {
  cursor: pointer;
}

.btnArea {
  display: flex;
  gap: 1em;
}

.btnArea i {
  display: inline-block;
  height: 100%;
}

.arrow {
  width: 16px;
}

.delete {
  color: #fc5757;
}

.subList {
  margin-left: 10px;
}

.notionPage {
  width: calc(100% - 320px);
  padding: 2em 1em;
}

.titleInput {
  width: 100%;
  max-width: 400px;
  height: 40px;
}
